.banner {
  width: 100%;
  height: 50vh;
  padding: 0 10%;
}
.banner .bannerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  width: 48%;
  text-align: center;
  font-size: var(--title-1);
  font-weight: bold;
  background: linear-gradient(
    90deg,
    var(--background),
    var(--grey),
    var(--black)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.description, .description2 {
  width: 80%;
  text-align: center;
  color: var(--white);
  font-size: var(--paragraph-2);
  font-weight: normal;
  margin-bottom: 50px;
}
.description2{
  display: none;
}
.cta {
  font-size: var(--paragraph-3);
  color: var(--black);
  font-weight: 400;
  padding: 12px 30px;
  border: 0.5px solid var(--grey);
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--white);
}
.cta:hover {
  background-color: var(--grey);
}
.linkIcon {
  width: 14px;
  height: 14px;
  position: relative;
  top: 2px;
  left: 5px;
}

.genres {
  width: 100%;
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid rgba(174, 174, 174, 0.1);
  border-bottom: 1px solid rgba(174, 174, 174, 0.1);
  margin-bottom: 20px;
  background-color: var(--black);
}
.genres ul {
  width: max-content; /* Garante que a largura se ajuste ao conteúdo total */
  display: flex;
  gap: 50px;
  animation: marquee 30s linear infinite;
}
.genres li {
  list-style: none;
  color: var(--grey);
  font-size: var(--title-4);
  font-weight: bold;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.steps {
  width: 100%;
  padding: 2% 15%;
}
.stepsWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.stepsWrapper h2 {
  width: 50%;
  text-align: center;
  font-size: var(--title-4);
  font-weight: normal;
  background: linear-gradient(
    90deg,
    var(--background),
    var(--grey),
    var(--black)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stepsWrapper .stepsSign {
  padding: 9px 20px;
  font-size: var(--paragraph-3);
  color: var(--black);
  border-radius: 20px;
  position: relative;
  bottom: -75px;
  rotate: -10deg;
  background-color: var(--white);
}

.stepsWrapper .stepsContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 60px 0 100px 0;
  border-top: 0.5px solid rgba(174, 174, 174, 0.1);
}
.stepsContent .stepCard {
  width: 18%;
}
.stepCard .stepIcon {
  color: var(--white);
  width: 32px;
  height: 32px;
  margin-bottom: 25px;
}
.stepCard h3 {
  font-size: var(--paragraph-2);
  font-weight: 400;
  color: var(--white);
  margin-bottom: 15px;
}
.stepCard p {
  font-size: var(--paragraph-3);
  font-weight: 300;
  color: var(--white);
}

/*Responsive*/
@media  (max-width: 480px) {
  .banner{
    height: 65vh;
    padding: 0 5%;
  }
  .title{
    width: 100%;
    font-size: var(--title-4);
  }
  .description{
    display: none;
  }
  .description2{
    width: 100%;
    font-size: var(--paragraph-2);
    display: block;
  }
  .genres ul{
    animation-duration: 20s;
  }
  .genres li{
    font-size: var(--title-5);
  }
  .steps{
    padding: 2% 5%;
  }.stepsWrapper h2{
    width: 85%;
    margin-top: 30px;
    font-size: var(--paragraph-1);
  }
  .stepsWrapper .stepsSign{
    bottom: -40px;
    font-size: var(--paragraph-4);
  }
  .stepsWrapper .stepsContent{
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.stepsContent .stepCard{
  width: 80%;
}
.stepCard .stepIcon{
  width: 28px;
  height: 28px;
}
}