html {
  overflow-y: hidden;
}
.playlistContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}
.playlistBanner {
  width: 100%;
  height: 25vh;
  border-radius: 10px;
  margin: 20px;
  background-size: contain;
  background-repeat: repeat;
}
.playlistBanner .bannerContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 0 50px 50px;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.bannerContent .bannerTitle {
  width: 50%;
  font-size: var(--title-3);
  font-weight: bolder;
  color: var(--white);
  margin-bottom: 7px;
}
.bannerContent span {
  font-size: var(--paragraph-2);
  color: var(--white);
}

.playlistWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 100%;
  max-height: 600px;
  overflow-x: auto;
  overflow-y: auto;
  display: block;
  border: none;
}

.table {
  width: 95%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table-head {
  color: var(--grey);
  font-size: var(--paragraph-3);
  font-weight: 400;
}

.title-column {
  display: flex;
  align-items: center;
  gap: 8px; /* espaço entre a imagem e o texto */
}

.playlist-image {
  margin-right: 0.5em;
  border-radius: 3px;
}
tbody tr {
  color: var(--grey);
}
.table td {
  color: inherit;
  font-size: var(--paragraph-3);
}
tbody tr:hover {
  color: var(--white);
  background-color: rgba(174, 174, 174, 0.05);
}
.savePlaylist {
  width: 22px;
  border: none;
  background-color: transparent;
}
.savePlaylist .playlistsIcon {
  color: var(--grey);
}
.savePlaylist:hover .playlistsIcon {
  color: var(--white);
  cursor: pointer;
}

.openPlaylist {
  text-decoration: none;
  padding: 8px 15px;
  color: var(--black);
  font-size: var(--paragraph-3);
  border: none;
  border-radius: 25px;
  background-color: var(--white);
}
.openPlaylist .playlistsIcon {
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
}

/*Responsive*/
@media (max-width: 820px) {
  .playlistBanner {
    height: 20vh;
  }
  .playlistBanner .bannerContent {
    padding: 0 0 35px 35px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  }
  .bannerContent .bannerTitle {
    width: 70%;
    font-size: var(--title-5);
  }
  .table {
    min-width: 1000px;
  }
  .playlist-image {
    width: 45px;
    height: 45px;
    margin-right: 0.2em;
    border-radius: 0;
  }
  .openPlaylist {
    padding: 8px 12px;
    font-size: var(--paragraph-4);
  }
}

@media (max-width: 400px) {
  .playlistBanner {
    height: 15vh;
  }
  .playlistBanner .bannerContent {
    padding: 0 0 10px 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  }
  .bannerContent .bannerTitle {
    width: 97%;
    font-size: var(--paragraph-1);
  }
  .bannerContent span {
    font-size: var(--paragraph-3);
  }
}
